# Airflow
AIRFLOW_UID=50000
_AIRFLOW_WWW_USER_USERNAME=your_admin_username
_AIRFLOW_WWW_USER_PASSWORD=your_admin_password
_AIRFLOW_WWW_USER_EMAIL=admin@example.com
# python -c "from cryptography.fernet import Fernet; print(Fernet.generate_key().decode())"
AIRFLOW_FERNET_KEY=your_fernet_key
# python -c "import secrets; print(secrets.token_hex(32))"
AIRFLOW_SECRET_KEY=your_secret_key

# Grafana
GRAFANA_ADMIN_PASSWORD=your_grafana_password

# PostgreSQL
POSTGRES_USER=airflow
POSTGRES_PASSWORD=your_postgres_password
POSTGRES_DB=airflow
POSTGRES_MULTIPLE_DATABASES=pipeline_db
